<div class="frame-group">
          					<div class="explore-by-destination-parent">
            						<div class="explore-by-destination">Explore By Destination</div>
            						<div class="discover-great-places">Discover great places and find your next unforgettable getaway.</div>
          					</div>
          					<div class="frame-container">
            						<div class="frame-div">
              							<div class="frame-parent2">
                								<div class="rectangle-parent" id="frameContainer">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Lonavala</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Alibaug</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Coorg</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Udaipur</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Jaipur</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Nashik</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Ooty</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Goa</div>
                								</div>
              							</div>
              							<div class="frame-parent2">
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Manali</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Mussoorie</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Alleppey</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Shimla</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Pune</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Igatpuri</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Dehradun</div>
                								</div>
                								<div class="rectangle-group">
                  									<img class="frame-child" alt="">

                  									<div class="lonavala">Kajrat</div>
                								</div>
              							</div>
            						</div>
            						<div class="frame-wrapper">
              							<div class="rectangle-parent15">
                								<div class="rectangle-div">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<img class="button-icon" alt="">

      			
      			<img class="frame-child19" alt="">

      			<div class="button-parent">
        				<img class="button-icon" alt="">

        				<div class="frame-group">
          					<div class="available-this-weekend-parent">
            						<div class="explore-by-destination">Available This Weekend</div>
            						<div class="button-container">
              							<div class="button">
                								<div class="all">All</div>
              							</div>
              							<div class="button2">
                								<div class="all">Udaipur</div>
              							</div>
              							<div class="button2">
                								<div class="all">Lonavala</div>
              							</div>
              							<div class="button2">
                								<div class="all">Manali</div>
              							</div>
              							<div class="button2">
                								<div class="all">Coorg</div>
              							</div>
              							<div class="button2">
                								<div class="all">Ooty</div>
              							</div>
              							<div class="button2">
                								<div class="all">Explore more</div>
              							</div>
            						</div>
          					</div>
          					<div class="frame-parent5">
            						<div class="frame-parent6">
              							<div class="frame-parent7" id="frameContainer">
                								<div class="rectangle-parent16">
                  									<img class="frame-child20" alt="">

                  									<div class="button8">
                    										<img class="star-01-icon" alt="">

                    										<div class="div">4.0</div>
                  									</div>
                  									<img class="button-icon4" alt="">

                								</div>
                								<div class="the-grey-medley-parent">
                  									<div class="the-grey-medley">The Grey Medley</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<img class="iconsanslinearlocation" alt="">

                    										<div class="lonavala-maharashtra">Lonavala, maharashtra</div>
                  									</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<div class="lonavala-maharashtra">Upto 10 Guest </div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">4 Rooms</div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">2 Baths</div>
                  									</div>
                  									<div class="parent">
                    										<div class="div2">₹3,999</div>
                    										<div class="div3">₹2,999</div>
                    										<div class="lonavala-maharashtra">/per night</div>
                  									</div>
                								</div>
              							</div>
              							<div class="frame-parent8">
                								<div class="rectangle-parent16">
                  									<img class="frame-child20" alt="">

                  									<div class="button8">
                    										<img class="star-01-icon" alt="">

                    										<div class="div">4.0</div>
                  									</div>
                  									<img class="button-icon4" alt="">

                								</div>
                								<div class="the-grey-medley-parent">
                  									<div class="the-grey-medley">The Ganga House</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<img class="iconsanslinearlocation" alt="">

                    										<div class="lonavala-maharashtra">Varanasi, Uttar Pradesh</div>
                  									</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<div class="lonavala-maharashtra">Upto 10 Guest </div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">4 Rooms</div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">2 Baths</div>
                  									</div>
                  									<div class="parent">
                    										<div class="div2">₹3,999</div>
                    										<div class="div3">₹2,999</div>
                    										<div class="lonavala-maharashtra">/per night</div>
                  									</div>
                								</div>
              							</div>
              							<div class="frame-parent8">
                								<div class="rectangle-parent16">
                  									<img class="frame-child20" alt="">

                  									<div class="button8">
                    										<img class="star-01-icon" alt="">

                    										<div class="div">4.0</div>
                  									</div>
                  									<img class="button-icon4" alt="">

                								</div>
                								<div class="the-grey-medley-parent">
                  									<div class="the-grey-medley">Pranaam</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<img class="iconsanslinearlocation" alt="">

                    										<div class="lonavala-maharashtra">Alibaug, Maharashtra</div>
                  									</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<div class="lonavala-maharashtra">Upto 10 Guest </div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">4 Rooms</div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">2 Baths</div>
                  									</div>
                  									<div class="parent">
                    										<div class="div2">₹3,999</div>
                    										<div class="div3">₹2,999</div>
                    										<div class="lonavala-maharashtra">/per night</div>
                  									</div>
                								</div>
              							</div>
              							<div class="frame-parent8">
                								<div class="rectangle-parent16">
                  									<img class="frame-child20" alt="">

                  									<div class="button8">
                    										<img class="star-01-icon" alt="">

                    										<div class="div">4.0</div>
                  									</div>
                  									<img class="button-icon4" alt="">

                								</div>
                								<div class="the-grey-medley-parent">
                  									<div class="the-grey-medley">Gardenéa</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<img class="iconsanslinearlocation" alt="">

                    										<div class="lonavala-maharashtra">Karjat, Maharashtra</div>
                  									</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<div class="lonavala-maharashtra">Upto 10 Guest </div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">4 Rooms</div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">2 Baths</div>
                  									</div>
                  									<div class="parent">
                    										<div class="div2">₹3,999</div>
                    										<div class="div3">₹2,999</div>
                    										<div class="lonavala-maharashtra">/per night</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="frame-wrapper">
              							<div class="rectangle-parent15">
                								<div class="rectangle-div">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<img class="button-icon" alt="">

      			</div>
      			<div class="button-parent">
        				<img class="button-icon" alt="">

        				<div class="frame-group">
          					<div class="available-this-weekend-parent">
            						<div class="explore-by-destination">Top Rated Villas</div>
            						<div class="button-container">
              							<div class="button">
                								<div class="all">All</div>
              							</div>
              							<div class="button2">
                								<div class="all">Udaipur</div>
              							</div>
              							<div class="button2">
                								<div class="all">Lonavala</div>
              							</div>
              							<div class="button2">
                								<div class="all">Manali</div>
              							</div>
              							<div class="button2">
                								<div class="all">Coorg</div>
              							</div>
              							<div class="button2">
                								<div class="all">Ooty</div>
              							</div>
              							<div class="button2">
                								<div class="all">Explore more</div>
              							</div>
            						</div>
          					</div>
          					<div class="frame-parent5">
            						<div class="frame-parent6">
              							<div class="frame-parent8">
                								<div class="rectangle-parent16">
                  									<img class="frame-child20" alt="">

                  									<div class="button8">
                    										<img class="star-01-icon" alt="">

                    										<div class="div">4.0</div>
                  									</div>
                  									<img class="button-icon4" alt="">

                								</div>
                								<div class="the-grey-medley-parent">
                  									<div class="the-grey-medley">Gardenéa</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<img class="iconsanslinearlocation" alt="">

                    										<div class="lonavala-maharashtra">Karjat, Maharashtra</div>
                  									</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<div class="lonavala-maharashtra">Upto 10 Guest </div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">4 Rooms</div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">2 Baths</div>
                  									</div>
                  									<div class="parent">
                    										<div class="div2">₹3,999</div>
                    										<div class="div3">₹2,999</div>
                    										<div class="lonavala-maharashtra">/per night</div>
                  									</div>
                								</div>
              							</div>
              							<div class="frame-parent8">
                								<div class="rectangle-parent16">
                  									<img class="frame-child20" alt="">

                  									<div class="button8">
                    										<img class="star-01-icon" alt="">

                    										<div class="div">4.0</div>
                  									</div>
                  									<img class="button-icon4" alt="">

                								</div>
                								<div class="the-grey-medley-parent">
                  									<div class="the-grey-medley">The Ganga House</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<img class="iconsanslinearlocation" alt="">

                    										<div class="lonavala-maharashtra">Varanasi, Uttar Pradesh</div>
                  									</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<div class="lonavala-maharashtra">Upto 10 Guest </div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">4 Rooms</div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">2 Baths</div>
                  									</div>
                  									<div class="parent">
                    										<div class="div2">₹3,999</div>
                    										<div class="div3">₹2,999</div>
                    										<div class="lonavala-maharashtra">/per night</div>
                  									</div>
                								</div>
              							</div>
              							<div class="frame-parent8">
                								<div class="rectangle-parent16">
                  									<img class="frame-child20" alt="">

                  									<div class="button8">
                    										<img class="star-01-icon" alt="">

                    										<div class="div">4.0</div>
                  									</div>
                  									<img class="button-icon4" alt="">

                								</div>
                								<div class="the-grey-medley-parent">
                  									<div class="the-grey-medley">Pranaam</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<img class="iconsanslinearlocation" alt="">

                    										<div class="lonavala-maharashtra">Alibaug, Maharashtra</div>
                  									</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<div class="lonavala-maharashtra">Upto 10 Guest </div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">4 Rooms</div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">2 Baths</div>
                  									</div>
                  									<div class="parent">
                    										<div class="div2">₹3,999</div>
                    										<div class="div3">₹2,999</div>
                    										<div class="lonavala-maharashtra">/per night</div>
                  									</div>
                								</div>
              							</div>
              							<div class="frame-parent8">
                								<div class="rectangle-parent16">
                  									<img class="frame-child20" alt="">

                  									<div class="button8">
                    										<img class="star-01-icon" alt="">

                    										<div class="div">4.0</div>
                  									</div>
                  									<img class="button-icon4" alt="">

                								</div>
                								<div class="the-grey-medley-parent">
                  									<div class="the-grey-medley">The Grey Medley</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<img class="iconsanslinearlocation" alt="">

                    										<div class="lonavala-maharashtra">lonavala, maharashtra</div>
                  									</div>
                  									<div class="iconsanslinearlocation-parent">
                    										<div class="lonavala-maharashtra">Upto 10 Guest </div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">4 Rooms</div>
                    										<img class="iconsanslinearlocation2" alt="">

                    										<div class="lonavala-maharashtra">2 Baths</div>
                  									</div>
                  									<div class="parent">
                    										<div class="div2">₹3,999</div>
                    										<div class="div3">₹2,999</div>
                    										<div class="lonavala-maharashtra">/per night</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="frame-wrapper">
              							<div class="rectangle-parent15">
                								<div class="rectangle-div">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
                								<div class="frame-child14">
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<img class="button-icon" alt="">

      			</div>
