body {
	margin: 0;
	line-height: normal;
}


.desktop-1 {
	width: 100%;
	min-height: 64rem;
	/* Changed to min-height */
	position: relative;
	background-color: #fff;
	/* overflow-y: auto; Removed to avoid scroll trapping */
	text-align: left;
	font-size: 2.375rem;
	color: #111;
	font-family: Montserrat;
}

.frame-parent {
	position: relative;
	/* Changed from absolute */
	/* top: 61.063rem; Removed */
	/* left: 0rem; Removed */
	background-color: #fff;
	width: 100%;
	/* Changed from 90rem to be responsive */
	max-width: 90rem;
	margin: 0 auto;
	/* Center it */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6.25rem 0rem 0rem;
	box-sizing: border-box;
	gap: 6.25rem;
	/* flex-shrink: 0; */
}

.button-parent {
	display: flex;
	align-items: center;
	gap: 1.125rem;
}

.button-icon {
	height: 2.25rem;
	width: 2.25rem;
	border-radius: 8px;
}

.frame-group {
	width: 77.75rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3.125rem;
}

.explore-by-destination-parent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.875rem;
}

.explore-by-destination {
	align-self: stretch;
	position: relative;
	font-weight: 600;
}

.discover-great-places {
	position: relative;
	font-size: 1rem;
	color: #757575;
}

.frame-container {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.125rem;
	font-size: 1.125rem;
}

.frame-div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.25rem;
}

.frame-parent2 {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.rectangle-parent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.875rem;
	cursor: pointer;
}

.frame-child {
	width: 8.375rem;
	height: 10.625rem;
	position: relative;
	border-radius: 100px;
	object-fit: cover;
}

.lonavala {
	position: relative;
	font-weight: 600;
}

.rectangle-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.875rem;
}

.frame-wrapper {
	width: 13rem;
	height: 0.5rem;
	position: relative;
	border-radius: 100px;
	background-color: #faf8f5;
	overflow: hidden;
	flex-shrink: 0;
}

.rectangle-parent15 {
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 13rem;
	display: flex;
	align-items: flex-start;
}

.rectangle-div {
	height: 0.5rem;
	flex: 1;
	position: relative;
	border-radius: 100px;
	background-color: #e6dccf;
}

.frame-child14 {
	height: 0.5rem;
	flex: 1;
	position: relative;
	border-radius: 100px;
	background-color: rgba(230, 220, 207, 0);
}

.frame-child19 {
	width: 77.75rem;
	height: 12.938rem;
	position: relative;
	border-radius: 20px;
	object-fit: cover;
}

.available-this-weekend-parent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
}

.button-container {
	display: flex;
	align-items: center;
	gap: 1.25rem;
	font-size: 1rem;
	color: #757575;
}

.button {
	border-radius: 100px;
	background-color: #2a2927;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.75rem 1.5rem;
	color: #fff;
}

.all {
	position: relative;
	line-height: 1.474rem;
	font-weight: 500;
}

.button2 {
	border-radius: 100px;
	border: 1px solid #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.75rem 1.5rem;
}

.frame-parent5 {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.125rem;
	font-size: 0.75rem;
	color: #222;
}

.frame-parent6 {
	display: flex;
	align-items: center;
	gap: 1.75rem;
}

.frame-parent7 {
	width: 18.125rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.25rem;
	cursor: pointer;
}

.rectangle-parent16 {
	align-self: stretch;
	height: 18.125rem;
	position: relative;
}

.frame-child20 {
	position: absolute;
	top: 0rem;
	left: 0rem;
	border-radius: 20px;
	width: 18.125rem;
	height: 18.125rem;
	object-fit: cover;
}

.button8 {
	position: absolute;
	top: 1rem;
	left: 1rem;
	backdrop-filter: blur(40px);
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0.75rem;
	gap: 0.25rem;
}

.star-01-icon {
	height: 1rem;
	width: 1rem;
	position: relative;
}

.div {
	position: relative;
	font-weight: 500;
}

.button-icon4 {
	position: absolute;
	top: 1rem;
	left: 15.25rem;
	border-radius: 100px;
	width: 2rem;
	height: 2rem;
}

.the-grey-medley-parent {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
	font-size: 0.875rem;
	color: #757575;
}

.the-grey-medley {
	align-self: stretch;
	position: relative;
	font-size: 1.25rem;
	font-weight: 600;
	color: #111;
}

.iconsanslinearlocation-parent {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.125rem;
}

.iconsanslinearlocation {
	height: 1.25rem;
	width: 1.25rem;
	position: relative;
}

.lonavala-maharashtra {
	position: relative;
}

.iconsanslinearlocation2 {
	height: 1.25rem;
	width: 0.813rem;
	position: relative;
}

.parent {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.625rem;
}

.div2 {
	position: relative;
	text-decoration: line-through;
}

.div3 {
	position: relative;
	font-size: 1.25rem;
	font-weight: 600;
	color: #957734;
}

.frame-parent8 {
	width: 18.125rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.25rem;
}

.frame-parent18 {
	align-self: stretch;
	height: 91.5rem;
	position: relative;
	font-size: 1rem;
}

.frame-parent19 {
	position: absolute;
	top: 0rem;
	left: 0rem;
	background-color: #faf8f5;
	width: 90rem;
	height: 61.875rem;
	overflow: hidden;
}

.rectangle-parent26 {
	position: absolute;
	top: 6.25rem;
	left: 6.125rem;
	width: 77.75rem;
	height: 37.375rem;
	flex-shrink: 0;
}

.frame-child40 {
	position: absolute;
	top: 0rem;
	left: 0rem;
	border-radius: 20px;
	width: 27.5rem;
	height: 37.375rem;
	object-fit: cover;
}

.frame-child41 {
	position: absolute;
	top: 12.938rem;
	left: 14.563rem;
	border-radius: 20px;
	width: 20.125rem;
	height: 20.125rem;
	object-fit: cover;
}

.why-choose-us-parent {
	position: absolute;
	top: 0.125rem;
	left: 38.875rem;
	width: 38.875rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.875rem;
}

.why-choose-us {
	position: relative;
	font-weight: 600;
	color: #d9b56c;
}

.giving-the-best {
	align-self: stretch;
	position: relative;
	font-size: 2.375rem;
	line-height: 3rem;
	font-weight: 600;
}

.we-provide-verified {
	align-self: stretch;
	position: relative;
	line-height: 1.75rem;
	color: #757575;
}

.frame-parent20 {
	width: 38.875rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.75rem;
	font-size: 1.125rem;
}

.button-parent4 {
	align-self: stretch;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.button-icon15 {
	height: 4.5rem;
	width: 4.5rem;
	border-radius: 100px;
}

.premium-guest-experience-parent {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.375rem;
}

.luxurious-stays-with {
	align-self: stretch;
	position: relative;
	font-size: 0.875rem;
	color: #757575;
}

.button-parent5 {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.exclusive-amenities-parent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.375rem;
}

.spacious-rooms-with {
	position: relative;
	font-size: 0.875rem;
	color: #757575;
}

.group-icon {
	position: absolute;
	top: 36.375rem;
	left: 71.438rem;
	width: 19.763rem;
	height: 11.569rem;
	flex-shrink: 0;
}

.frame-wrapper4 {
	position: absolute;
	top: 61.875rem;
	left: 0rem;
	background-color: #2a2927;
	width: 90rem;
	height: 29.625rem;
	overflow: hidden;
	text-align: center;
	font-size: 3.125rem;
	color: #fff;
}

.frame-parent21 {
	position: absolute;
	top: 17rem;
	left: calc(50% - 587px);
	display: flex;
	align-items: center;
	gap: 1.875rem;
}

.parent7 {
	height: 6.375rem;
	width: 16.938rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 0.75rem;
}

.happy-guest {
	position: relative;
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.6);
}

.rectangle-parent27 {
	position: absolute;
	top: 50.375rem;
	left: 6.125rem;
	width: 77.75rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem;
}

.frame-child42 {
	height: 23rem;
	width: 18.188rem;
	position: relative;
	border-radius: 500px;
	object-fit: cover;
}

.frame-child43 {
	height: 23rem;
	width: 18.125rem;
	position: relative;
	border-radius: 500px;
	object-fit: cover;
}

.frame-parent23 {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.125rem;
	font-size: 1.125rem;
	color: #fff;
}

.rectangle-parent28 {
	height: 18.125rem;
	width: 18.125rem;
	position: relative;
	border-radius: 20px;
}

.monsoon-escape-parent {
	position: absolute;
	top: 12.313rem;
	left: 1rem;
	backdrop-filter: blur(30px);
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.3);
	width: 16.125rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;
	box-sizing: border-box;
	gap: 0.375rem;
}

.available {
	position: relative;
	font-size: 0.875rem;
}

.rectangle-parent29 {
	height: 18.125rem;
	width: 18.125rem;
	position: relative;
}

.frame-parent26 {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.125rem;
	font-size: 0.875rem;
	color: #6941c6;
}

.blog-post-card-parent {
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem;
}

.image-icon {
	width: 24.375rem;
	height: 15rem;
	position: relative;
	border-radius: 20px;
	object-fit: cover;
}

.heading-and-text {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.author {
	align-self: stretch;
	position: relative;
	line-height: 1.25rem;
	font-weight: 600;
}

.heading-and-icon {
	align-self: stretch;
	display: flex;
	align-items: flex-start;
	font-size: 1.5rem;
	color: #1a1a1a;
}

.heading {
	flex: 1;
	position: relative;
	line-height: 2rem;
	font-weight: 600;
}

.supporting-text {
	align-self: stretch;
	position: relative;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #757575;
}

.hotel-booking-landing-page {
	align-self: stretch;
	height: 41.25rem;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	flex-shrink: 0;
	object-fit: cover;
}

.frame-parent27 {
	width: 77.75rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.125rem;
	text-align: center;
}

.discover-great-places4 {
	position: relative;
	font-size: 1rem;
	color: #757575;
	text-align: left;
}

.hotel-booking-landing-page2 {
	width: 67rem;
	height: 18.125rem;
	position: relative;
	object-fit: cover;
}

.footer-v2 {
	align-self: stretch;
	height: 64.625rem;
	position: relative;
	background-color: #2a2927;
	overflow: hidden;
	flex-shrink: 0;
	font-size: 1.125rem;
	color: #fff;
	font-family: 'DM Sans';
}

.footer-bottom-icon {
	position: absolute;
	top: 58.86rem;
	left: 6.188rem;
	width: 77.563rem;
	height: 0rem;
}

.px {
	position: absolute;
	top: 20.129rem;
	left: 6.875rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 2.013rem;
}

.logo-3 {
	width: 4.563rem;
	height: 2.125rem;
	position: relative;
}

.logo {
	position: absolute;
	top: 0rem;
	left: 0rem;
	line-height: 2.125rem;
}

.footer-description {
	position: absolute;
	top: 19.557rem;
	left: 50.233rem;
	line-height: 1.875rem;
	display: inline-block;
	width: 32.894rem;
}

.footer-v2-child {
	position: absolute;
	top: 27.796rem;
	left: -0.031rem;
	border-top: 1px solid rgba(255, 255, 255, 0.24);
	box-sizing: border-box;
	width: 90.063rem;
	height: 0.063rem;
}

.footer-middle {
	position: absolute;
	top: 35.001rem;
	left: 6.25rem;
	width: 77.438rem;
	height: 17.75rem;
	font-size: 1.25rem;
}

.footer-column {
	position: absolute;
	top: 0rem;
	left: 0rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5rem;
}

.footer-title {
	position: relative;
	line-height: 1.375rem;
}

.footer-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.125rem;
	text-align: center;
	font-size: 1.125rem;
	color: rgba(255, 255, 255, 0.6);
}

.link {
	display: flex;
	align-items: flex-start;
}

.master-link {
	display: flex;
	align-items: center;
	gap: 0.375rem;
}

.line-roundedpassword {
	height: 1.25rem;
	width: 1.25rem;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	display: none;
}

.features {
	position: relative;
	line-height: 1.25rem;
	flex-shrink: 0;
}

.footer-column2 {
	position: absolute;
	top: 0rem;
	left: 13.688rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5rem;
}

.footer-column3 {
	position: absolute;
	top: 0rem;
	left: 26.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5rem;
}

.getting-started {
	position: relative;
	line-height: 1.25rem;
}

.footer-column4 {
	position: absolute;
	top: 0rem;
	left: 41.375rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5rem;
}

.footer-column5 {
	position: absolute;
	top: 0rem;
	left: 55rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5rem;
}

.px2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
	font-size: 1.125rem;
	color: rgba(255, 255, 255, 0.6);
}

.description {
	width: 22.4rem;
	position: relative;
	line-height: 1.875rem;
	display: inline-block;
}

.px3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	text-align: center;
	font-size: 1rem;
	color: #fff;
}

.input-text {
	width: 22.438rem;
	height: 4.25rem;
	position: relative;
}

.master-input-text {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
}

.input {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	border-radius: 108px;
	border: 1px solid #d9dbe9;
	box-sizing: border-box;
}

.primary-button {
	position: absolute;
	top: 0.438rem;
	right: 0.625rem;
	display: none;
	align-items: center;
	justify-content: center;
}

.master-primary-button {
	border-radius: 76px;
	background-color: #4a3aff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.125rem 1.5rem;
	gap: 0.25rem;
}

.line-roundedsearch {
	height: 1rem;
	width: 1rem;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	display: none;
}

.button-text {
	position: relative;
	line-height: 1.125rem;
	flex-shrink: 0;
}

.line-roundedarrow-right {
	height: 0.875rem;
	width: 0.875rem;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	display: none;
}

.input-icon-right {
	position: absolute;
	height: calc(100% - 50px);
	top: 1.563rem;
	right: 1.5rem;
	bottom: 1.563rem;
	width: 1.125rem;
	overflow: hidden;
	display: none;
}

.input-left {
	position: absolute;
	top: 1.563rem;
	left: 1.438rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-align: left;
}

.input-icon-left {
	height: 1.125rem;
	width: 1.125rem;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	display: none;
}

.input-placeholder {
	position: relative;
	line-height: 1.125rem;
}

.primary-button2 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #111;
}

.master-primary-button2 {
	border-radius: 76px;
	background-color: #d9b56c;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.125rem 1.5rem;
	gap: 0.25rem;
}

.button-text2 {
	position: relative;
	line-height: 1.125rem;
	font-weight: 500;
	flex-shrink: 0;
}

.social-media-container {
	position: absolute;
	top: 61.235rem;
	left: 72.688rem;
	display: flex;
	align-items: center;
	gap: 1.375rem;
}

.social-media-icon-squarefaceb {
	height: 1.188rem;
	width: 0.688rem;
	position: relative;
}

.social-media-icon-squaretwitt {
	height: 0.938rem;
	width: 1.188rem;
	position: relative;
}

.social-media-icon-squareinsta {
	height: 1.188rem;
	width: 1.188rem;
	position: relative;
	object-fit: cover;
}

.social-media-icon-squarelinke {
	height: 1.125rem;
	width: 1.188rem;
	position: relative;
}

.social-media-icon-squareyoutu {
	height: 0.938rem;
	width: 1.313rem;
	position: relative;
}

.copyright {
	position: absolute;
	top: 61.251rem;
	left: 6.875rem;
	line-height: 1.25rem;
}

.image-21-icon {
	position: absolute;
	top: 6rem;
	left: calc(50% - 617px);
	border-radius: 8px;
	width: 77.125rem;
	height: 7rem;
	object-fit: cover;
}

.chatgpt-image-aug-18-2025-12-parent {
	position: absolute;
	top: 6.375rem;
	left: 3.25rem;
	border-radius: 30px;
	width: 83.5rem;
	height: 51.25rem;
	overflow: hidden;
	flex-shrink: 0;
	text-align: center;
	font-size: 4.375rem;
	color: #fff;
}

.frame-icon {
	position: absolute;
	top: 0rem;
	left: calc(50% - 668px);
	width: 83.5rem;
	height: 51.25rem;
	object-fit: cover;
}

.products-parent {
	position: absolute;
	top: calc(50% - 124px);
	left: calc(50% - 524px);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.products {
	width: 65.563rem;
	position: relative;
	line-height: 5.875rem;
	text-transform: capitalize;
	font-weight: 600;
	display: inline-block;
}

.a-stay-as {
	position: relative;
	font-size: 1.5rem;
	line-height: 1.75rem;
}

.component-1 {
	position: absolute;
	top: 54.188rem;
	left: calc(50% - 598px);
	box-shadow: 0px 396px 111px rgba(0, 0, 0, 0), 0px 253px 101px rgba(0, 0, 0, 0.01), 0px 142px 85px rgba(0, 0, 0, 0.05), 0px 63px 63px rgba(0, 0, 0, 0.09), 0px 16px 35px rgba(0, 0, 0, 0.1);
	border-radius: 100px;
	background-color: #fff;
	width: 74.75rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rem 1rem 0rem 0rem;
	box-sizing: border-box;
	gap: 0.937rem;
	flex-shrink: 0;
	font-size: 1.125rem;
}

.frame-parent28 {
	display: flex;
	align-items: center;
}

.location-marker-parent {
	width: 21.938rem;
	display: flex;
	align-items: flex-start;
	padding: 1.75rem 2.375rem;
	box-sizing: border-box;
	gap: 0.875rem;
}

.location-marker-icon {
	height: 1.75rem;
	width: 1.75rem;
	position: relative;
	flex-shrink: 0;
}

.locationvillasfarmhouse-parent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
	flex-shrink: 0;
}

.locationvillasfarmhouse {
	position: relative;
	line-height: 1.75rem;
	font-weight: 600;
}

.where-are-you {
	position: relative;
	font-size: 1rem;
	line-height: 1.25rem;
	color: #bbb;
}

.frame-child62 {
	height: 2.75rem;
	width: 0.063rem;
	position: relative;
	background-color: #e5e7eb;
}

.calendar-parent {
	height: 6.375rem;
	width: 15.5rem;
	display: flex;
	align-items: flex-start;
	padding: 1.75rem 2.375rem;
	box-sizing: border-box;
	gap: 0.875rem;
}

.frame-child64 {
	height: 2.75rem;
	width: 0.063rem;
	position: relative;
	background-color: #e5e7eb;
	transform: rotate(180deg);
}

.user-add-parent {
	height: 6.375rem;
	width: 14.813rem;
	display: flex;
	align-items: flex-start;
	padding: 1.75rem 2.375rem;
	box-sizing: border-box;
	gap: 0.875rem;
}

.guest-1-room {
	position: relative;
	font-size: 1rem;
	line-height: 1.25rem;
}

.inbox-icon {
	height: 4.875rem;
	width: 4.875rem;
	border-radius: 50px;
	cursor: pointer;
}

.upscalemedia-transformed-1-parent {
	position: absolute;
	top: 0rem;
	left: 0rem;
	background-color: #fff;
	width: 90rem;
	height: 6.438rem;
	flex-shrink: 0;
	font-size: 1rem;
	color: #757575;
}

.upscalemedia-transformed-1-icon {
	position: absolute;
	top: 0.625rem;
	left: 6.25rem;
	width: 8rem;
	height: 5.188rem;
	object-fit: cover;
}

.nav {
	position: absolute;
	top: calc(50% - 17.5px);
	left: 25.125rem;
	display: flex;
	align-items: center;
	gap: 3.375rem;
}

.home-wrapper {
	backdrop-filter: blur(20px);
	border-bottom: 2px solid #d9b56c;
	display: flex;
	align-items: flex-start;
	padding: 0.5rem 0rem;
	color: #111;
}

.home {
	position: relative;
	line-height: 1.5rem;
	font-weight: 600;
}

.explore-wrapper {
	backdrop-filter: blur(20px);
	display: flex;
	align-items: flex-start;
	padding: 0.5rem 0rem;
}

.explore {
	position: relative;
	line-height: 1.5rem;
	font-weight: 500;
}

.nav2 {
	position: absolute;
	top: calc(50% - 21.5px);
	right: 6.125rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1.5rem;
}

.list-your-property-wrapper {
	backdrop-filter: blur(20px);
	border-radius: 999px;
	border: 1px solid #2a2927;
	display: flex;
	align-items: flex-start;
	padding: 0.75rem 1.25rem;
}

.login-signup-wrapper {
	backdrop-filter: blur(20px);
	border-radius: 999px;
	background-color: #2a2927;
	display: flex;
	align-items: flex-start;
	padding: 0.75rem 1.25rem;
	cursor: pointer;
	color: #fff;
}