<div class="auth-page container-fluid">
    <div class="row min-vh-100">

        <!-- LEFT LOGIN -->
        <div class="col-lg-6 auth-left">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <h1>Login</h1>
                <p>Login to access your account</p>

                <input type="email" placeholder="Email" formControlName="email" />

                <div class="password-field">
                    <input [type]="showPassword ? 'text' : 'password'" placeholder="Password"
                        formControlName="password" />
                    <span (click)="showPassword = !showPassword">{{ showPassword ? 'Hide' : 'Show' }}</span>
                </div>

                <button type="submit">Login</button>

                <p class="switch">
                    Don't have an account?
                    <a routerLink="/signup">Sign up</a>
                </p>
            </form>
        </div>

        <!-- RIGHT IMAGE -->
        <div class="col-lg-6 auth-right">
            <div class="image-card">
                <div id="authCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                    <div class="carousel-inner">
                        <div class="carousel-item active"></div>
                        <div class="carousel-item"></div>
                        <div class="carousel-item"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>