.hero-wrapper {
  overflow: visible;
}

.search-bar-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.search-bar-pill {
  min-height: 6rem;
  max-width: 90%;

  .search-item {
    flex: 1;
    min-width: fit-content;
  }
}

.icon-2rem {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}


.hero-title {
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  letter-spacing: -1px;
}

.hero-subtitle {
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.shadow-lg {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2) !important;
}

.search-submit {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .hero-wrapper {
    margin-bottom: 25rem !important;
  }

  .search-bar-wrap {
    position: relative;
    transform: none;
    left: 0;
    margin-top: -3rem;
  }

  .search-bar-pill {
    border-radius: 2rem !important;
    width: 95%;

    .search-item {
      width: 100%;
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: none;
      }
    }

    .search-submit {
      position: relative !important;
      right: auto !important;
      margin: 1rem 0;
      width: 100% !important;
      border-radius: 1rem !important;
      height: 3rem !important;
    }
  }
}