
.logo-img {
  width: 8rem;

  height: auto;
  object-fit: cover;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}


.nav-link {
  color: #555 !important;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;

  &:hover {
    color: #000000 !important;
    text-decoration: underline #c4a61d;
    text-underline-offset: 0.5rem;
  }
}

.btn-outline-custom {
  border: 1px solid #2a2927;
  color: #2a2927;
  padding: 0.75rem 1.25rem;
  font-weight: 500;

  &:hover {
    background-color: #2a2927;
    color: #fff;
  }
}

.btn-custom {
  background-color: #2a2927;
  color: #fff;
  border: 1px solid #2a2927;
  padding: 0.75rem 1.25rem;
  font-weight: 500;

  &:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background: #fff;
    padding: 1rem 0;
  }

  .logo-img {
    width: 6rem;
  }

  .navbar-nav {
    flex-direction: column !important;
    align-items: center !important;
    width: 100%;
  }

  .d-flex.align-items-center.gap-3 {
    justify-content: center;
    width: 100%;
  }
}