<nav class="w-100 position-relative" style="z-index: 10;">
  <div class="upscalemedia-transformed-1-parent w-100">
    <!--logo-img-->
    <img class="upscalemedia-transformed-1-icon" src="assets/logo.jpeg" alt="logo-img">

    <!-- Left Nav -->
    <div class="nav custom-nav d-flex align-items-center">
      <div class="home-wrapper">
        <div class="home">Home</div>
      </div>

      <div class="explore-wrapper">
        <div class="explore">Explore</div>
      </div>

      <div class="explore-wrapper">
        <div class="explore">Blogs</div>
      </div>

      <div class="explore-wrapper">
        <div class="explore">About</div>
      </div>

      <div class="explore-wrapper">
        <div class="explore">Contact Us</div>
      </div>
    </div>

    <!-- Right Nav -->
    <div class="position-relative nav2 d-flex align-items-center justify-content-end">
      <div class="list-your-property-wrapper">
        <div class="explore">List Your Property</div>
      </div>

      <div class="login-signup-wrapper">
        <div class="home text-white">Login / Signup</div>
      </div>
    </div>
  </div>
</nav>
