<nav class="navbar navbar-expand-lg bg-white w-100 py-1 ">
  <div class="container-fluid px-3 px-lg-4">

    <a class="navbar-brand p-3" href="#">
      <img src="assets/logo.png" class="logo-img w-15 ms-5 ms-lg-5">
    </a>

    <button class="navbar-toggler border-0 shadow-none" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav flex-row gap-3 gap-lg-4 align-items-center mb-0 mx-auto">
        <li class="nav-item"><a class="nav-link p-0 text-nowrap">Home</a></li>
        <li class="nav-item"><a class="nav-link p-0 text-nowrap">Explore</a></li>
        <li class="nav-item"><a class="nav-link p-0 text-nowrap">Blogs</a></li>
        <li class="nav-item"><a class="nav-link p-0 text-nowrap">About</a></li>
        <li class="nav-item"><a class="nav-link p-0 text-nowrap">Contact Us</a></li>
      </ul>

      <div class="d-flex align-items-center justify-content-start gap-3 me-5 mt-3 mt-lg-0">
        <div class="btn btn-outline-custom rounded-pill text-nowrap">
          List Your Property
        </div>
        <div class="btn btn-custom rounded-pill text-white text-nowrap">
          Login / Signup
        </div>
      </div>

    </div>
  </div>
</nav>
