<section class="why-us-section py-5 px-4 px-md-0 mb-4 position-relative">

    <div class="container-xl py-lg-5">
        <div class="row align-items-center g-5">
            <!-- Left: Overlapping Images -->
            <div class="col-lg-6">
                <div class="image-stack position-relative mb-2 mb-lg-0">
                    <img [src]="'assets/lonavala.webp'" alt="Main Villa" class="img-main shadow-lg">
                    <div class="text-sub bg-white rounded-4 ">Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Error, est non. Saepe natus harum quo vitae explicabo est ipsum esse rerum
                        earum, aliquid alias consequuntur voluptatem mollitia distinctio rem culpa?</div>
                    <!-- Decorative element for aesthetics -->
                    <div class="decorative-blob"></div>
                </div>
            </div>

            <!-- Right: Content & Features -->
            <div class="col-lg-6 ">
                <div class="content-wrapper ps-lg-3">
                    <span class="badge text-uppercase fw-bold mb-1 text-gold">Review</span>
                    <h3 class=" display-5 me-5 fw-semibold mb-5">
                        <span class="d-block">What our</span>
                        <span class="d-block">Customer Says</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>