$color-accent: #957734;

.carousel-wrapper {
    position: relative;

    .carousel-arrow {
        width: 38px;
        height: 38px;
        border-radius: 8px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white !important;
        border: 1px solid #ddd !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        transition: all 0.3s ease;
        z-index: 10;

        &:hover {
            background-color: #f8f9fa !important;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
        }

        &.start-0 {
            left: -3rem !important;
        }

        &.end-0 {
            right: -3rem !important;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            filter: invert(1) grayscale(100%) brightness(0);
            width: 1.5rem;
            height: 1.5rem;
        }

        @media (max-width: 1400px) {
            &.start-0 {
                left: -1rem !important;
            }

            &.end-0 {
                right: -1rem !important;
            }
        }

        @media (max-width: 1200px) {
            &.start-0 {
                left: 0.5rem !important;
            }

            &.end-0 {
                right: 0.5rem !important;
            }
        }
    }
}

.dot-container {
    width: fit-content;

    .dot {
        width: 2rem;
        height: 4px;
        border-radius: 2px;
        background-color: #e6dccf;
        display: inline-block;
        transition: all 0.3s ease;

        &.active {
            width: 4rem;
            background-color: $color-accent;
        }
    }
}

.collection-item {
    transition: transform 0.3s ease;



    .item-overlay {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        padding: 20px;

        backdrop-filter: blur(8px);

        transition: background 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}