/* You can add global styles to this file, and also import other style files */

:root {
    --font-family: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-family);
    font-weight: 700;
}

button,
input,
select,
textarea {
    font-family: var(--font-family);
}